a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #3b3b3b;
  background-color: #ececec;
}

ul {
  margin-left: 1em;
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: .01em;
}

h1 {
  font-size: 2.5em;
  margin-bottom: .5em;
  color: #000000;
}

h2 {
  font-size: 1.75em;
	color: #5a5959;
  margin-bottom: .5em;
}

h3 {
  font-size: 1.5em;
  margin-bottom: .5em;
  line-height: 1.1;
  color: #2c4a52;
}

h4 {
  font-size: .8em;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: .1em;
	border-left: 5px solid #d9b44a;
	padding-left: .5em;
}

em {
  font-style: italic;
}

p, li {
  margin-bottom: .5em;
}

strong {
  font-weight: 700;
}

.l-wrapper {
  max-width: 800px;
  padding: 3em 2em;
  margin: 0 auto;
}

.resume-section__block {
  padding-bottom: 2em;
}

.resume-section {
	padding: 1em 0;
}

.resume {
	padding: 2em 0;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 5px solid #d9b44a;
	margin-bottom: 1em;
}

.header h1 {
	margin-bottom: 0;
}

.header-icons svg {
	fill: currentColor;
	height: 15px;
	width: 15px;
}

.header-icon:hover {
	background-color: #d9b44a;
	transition: background 100ms ease-in-out;
}

.header-icon {
	transition: background 100ms ease-in-out;
	display: inline-block;
	color: #fff; 
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #3b3b3b;	
	text-align: center;
	line-height: 35px;
}

@media(max-width: 400px) {
	body {
		font-size: 14px;
	}
	h1 {
		font-size: 2em;
	}
}
